{% firstof "A strong-willed individual with over 10,000 hours of experience in software engineering; loves learning, leading, working, and research." as lead_paragraph %}

<!-- About-->
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0" aria-label="Bennett DenBleyker">
            <span aria-hidden="true">Bennett</span>
            <span aria-hidden="true" class="text-primary">DenBleyker</span>
        </h1>
        <div class="subheading mb-5">
            <span><span class="sr-only" aria-hidden="true">Address: </span>Boise, ID 83709 ·</span> <span><span class="sr-only" aria-hidden="true">Phone number: </span>(385) 549-4479 ·</span>
            <a href="mailto:b.denbleyker@comcast.net" class="fv-light">b.denbleyker@comcast.net</a>
        </div>
        <p class="lead mb-5"><span class="text-primary" style="filter: contrast(0.5)">A strong-willed individual with over 10,000 hours of experience in software engineering.</span><br/><em>Passionate learner, dedicated leader, and driven engineer with a deep love for technology and people.</em></p>
        <div class="social-icons d-print-none">
            <a class="social-icon" href="https://www.linkedin.com/in/bennettdb/" title="Check out my LinkedIn"><i class="fab fa-linkedin-in" width="32"></i></a>
            <a class="social-icon" href="https://github.com/yodarocks1" title="Take a peek at my GitHub"><i class="fab fa-github" width="32"></i></a>
            <a class="social-icon" href="https://hub.docker.com/u/yodarocks1" title="See what I'm up to on DockerHub"><i class="fab fa-docker" width="32"></i></a>
            <a class="social-icon" href="https://github.com/BDenBleyker" title="Flash back to my old High-School GitHub"><i class="fab fa-github-alt" width="32"></i></a>
        </div>
        <div hidden class="d-print-block">
            <span class="d-block">LinkedIn: <span class="text-primary">@bennettdb</span></span>
            <span class="d-block">GitHub: <span class="text-primary">@yodarocks1</span></span>
            <span class="d-block">DockerHub: <span class="text-primary">@yodarocks1</span></span
        </div>
    </div>
</section>
