<!-- Education-->
<section class="resume-section" id="education" style="min-height: unset">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="w-100 mb-4">
            <div class="d-flex flex-row justify-content-between">
                <div class="flex-grow-1">
                    <h3 class="mb-0"><a tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus" title="<span class='h4 text-dark mb-0'>Logan, UT</span>">Utah State University</a></h3>
                </div>
                <div class="flex-shrink-0" style="text-align: right">
                    <p class="text-primary fw-bold mb-0">August 2020 – May 2024</p>
                    <p class="sr-only print-show fw-bold mb-0">Logan, UT</p>
                    <p class="mb-0">GPA: 3.66</p>
                </div>
            </div>
            <div><strong class="text-primary">B.S.</strong> Computer Science</div>
            <div><strong class="text-primary">B.S.</strong> Law &amp; Constitutional Studies</div>
            <div><em class="text-primary">Minor</em>: Mathematics</div>
            <div><em class="text-primary">Minor</em>: Anticipatory Intelligence</div>
        </div>
    </div>
</section>
