{% extends 'sections/experience/base.html' %}
{% block title %}Navigators Student Leader{% endblock %}
{% block subtitle %}Navigators @ Utah State University{% endblock %}
{% block time_span %}August 2021 – May 2024{% endblock %}
{% block employer %}<em>References</em>: <span title="Mentor">Tim Stewart</span>, <br/><span title="Campus Director">Jason Barbieri</span>{% endblock %}
{% block description %}
<div class="succinct-off">
    <ul>
        <li>
            Planned and executed a variety of spiritual and community-building events, including Bible studies, workshops, and retreats, fostering a supportive and engaging environment for members.
        </li>
        <li>
            Provided guidance and support to fellow students, helping them navigate their faith journey and personal development through one-on-one mentoring and group discussions.
        </li>
        <li>
            Demonstrated strong leadership skills in guiding and motivating team members, resolving conflicts, and maintaining a positive and inclusive atmosphere within the organization.
        </li>
    </ul>
</div>
<div class="succinct-on very-succinct-off">
    <ul>
        <li>
            Organized numerous events like Bible studies and retreats, building community.
        </li>
        <li>
            Mentored students and facilitated discussions in faith, life, and personal growth.
        </li>
        <li>
            Led teams, resolved conflicts, and fostered an inclusive atmosphere.
        </li>
    </ul>
</div>
{% endblock %}
