{% extends 'sections/experience/base.html' %}
{% block title %}Senior Course Leader{% endblock %}
{% block subtitle %}Boy Scouts of America (<abbr title='National Youth Leadership Training'>NYLT</abbr>){% endblock %}
{% block time_span %}January 2021 – August 2021{% endblock %}
{% block employer %}<em>Reference</em>: <span title="Scoutmaster / Course Director">David Augason</span>{% endblock %}
{% block description %}
<div class="succinct-off">
    <ul>
        <li>
            Directed a team of 30 youth leaders in planning, organizing, and executing a comprehensive leadership training course, ensuring seamless operations and high-quality training.
        </li>
        <li>
            Conducted leadership development sessions, workshops, and activities, effectively communicating key principles and strategies to enhance participants' leadership skills and teamwork.
        </li>
        <li>
            Provided guidance and support to course participants, fostering personal growth and confidence through one-on-one coaching and group mentorship.
        </li>
        <li>
            Cultivated a collaborative atmosphere among participants, encouraging active engagement and self-management, and fostering a sense of community and mutual respect.
        </li>
    </ul>
</div>
<div class="succinct-on very-succinct-off">
    <ul>
        <li>
            Mentored and led 30 youth staff in how to lead, teach, and train.
        </li>
        <li>
            Delivered leadership development workshops, teaching key principles for participants' leadership and teamwork skills.
        </li>
        <li>
            Provided one-on-one coaching and group mentorship, fostering personal growth and confidence.
        </li>
        <li>
            Built strong teams capable of planning and executing anything delegated to them.
        </li>
    </ul>
</div>
{% endblock %}
