{% extends 'sections/experience/base.html' %}
{% block title %}Housekeeping{% endblock %}
{% block subtitle %}YMCA of the Rockies<sup><a class="invisible-link" href="#footnote-stp">&dagger;</a></sup>{% endblock %}
{% block time_span %}May 2023 – July 2023{% endblock %}
{% block employer %}<em>Reference</em>: <span title="Crew Leader">Pablo Rodriguez</span>{% endblock %}
{% block description %}
<!--
<div class="succinct-off">
</div>
<div class="succinct-on very-succinct-off">
</div>
-->
{% endblock %}
