{% extends 'sections/experience/base.html' %}
{% block title %}Plasterer's Aide / Laborer{% endblock %}
{% block subtitle %}TSL Construction{% endblock %}
{% block time_span %}June 2024 – Present{% endblock %}
{% block employer %}<em>Reference</em>: <span title="Employer">Todd Lloyd</span>{% endblock %}
{% block description %}
<div class="succinct-off">
    <ul>
        <li>
            Provided on-the-job support to journeymen, learning their habits, by assisting with and anticipating setup, application, and finishing processes, contributing to the efficiency and success of construction projects.
        </li>
        <li>
            Maintained clear and effective communication with journeymen and other team members to coordinate tasks, address issues, and ensure that project timelines and quality standards were met.
        </li>
        <li>
            Acted as a Spanish translator on-site, facilitating clear communication between Spanish-speaking workers and English-speaking journeymen, ensuring accurate understanding of instructions and safety protocols.
        </li>
    </ul>
</div>
<div class="succinct-on very-succinct-off">
    <ul>
        <li>
            Learned the habits of journeymen, in order to prepare materials and setup ahead of them.
        </li>
        <li>
            Translated Spanish, ensuring accurate understanding of instructions and safety protocols.
        </li>
    </ul>
</div>
{% endblock %}
