{% extends 'sections/experience/base.html' %}
{% block title %}Undergraduate Researcher{% endblock %}
{% block subtitle %}Utah State University{% endblock %}
{% block time_span %}February 2021 – May 2024{% endblock %}
{% block employer %}<em>Reference</em>: <span title="Supervising Professor">Zhen Zhang</span>{% endblock %}
{% block description %}
<div class="succinct-off">
    <ul>
        <li>
            Developed and implemented VERAPAK, a modular framework for adversarial robustness verification of neural networks, enhancing reliability and efficiency through novel techniques for adversarial example generation, abstraction, and partitioning.
        </li>
        <li>
            Contributed to the development and optimization of algorithms and methodologies to improve AI system robustness and mitigate safety risks, including adversarial attack defenses and anomaly detection.
        </li>
        <li>
            Improved the safety and robustness of numerous and diverse AI models by up to 99.96%.
        </li>
    </ul>
</div>
<div class="succinct-on very-succinct-off">
    <ul>
        <li>
            Developed VERAPAK, a modular framework for neural network robustness verification.
        </li>
        <li>
            Optimized algorithms to enhance AI system safety and adversarial defenses.
        </li>
        <li>
            Improved the safety and robustness of numerous and diverse AI models by up to 99.96%.
        </li>
        <li>
            Writing complexity, completeness, and soundness proofs.
        </li>
    </ul>
</div>
{% endblock %}
