{% extends "error/base.html" %}

{% block error_code_meaning %}
    Forbidden: You don't have permission to access the requested page.
{% endblock %}

{% block error_reason %}
    <p>How did you get here? The server understood the request, but refused to authorize it.</p>
    <p style="filter: opacity(0.5)">No permission to access <a href="{{ request.get_full_path }}">{{ request.get_full_path }}</a></p>
    {% if exception %}
    <p>Reason: {{ exception.message }}</p>
    {% if exception.code == "not active" %}
    <form action="{% url 'landing:createuser' %}">
        <input type="hidden" name="resend" value="Y"></input>
        <button type="submit" class="btn btn-link">Resend Email</button>
    </form>
    {% endif %}
    {% endif %}
{% endblock %}
